<div id="order_chart"></div>
<%- model_class = Order -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<!--search functionality-->
<%= form_tag orders_path , method: :get do %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= hidden_field_tag 'direction', params[:direction] %>
    <p>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search' %>
    </p>
<% end %>

<div class="order"><%= render 'order' %></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
